.footer {
    background-color: #004d40;
    color: white;
    padding: 5px 0;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5px;
  }
  
  .footer-section {
    max-width: 300px;
    margin: 5px;
    color: white;
  }
  
  .footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 2px;
    color: white;
  }
  
  .footer-section p {
    font-size: 0.9rem;
    line-height: 1;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
    font-size: 1.5rem;
  }
  
  .footer-bottom {
    margin-top: 15px;
    border-top: 1px solid #ccc;
    padding-top: 1px;
    font-size: 0.9rem;
  }
  